extends template 

block content 
    h1 Home

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea harum architecto consectetur fugiat necessitatibus magnam odio blanditiis iure veritatis! Accusantium ad dicta, neque aliquid aliquam mollitia facere sed autem illo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione facere dicta rerum doloribus autem illum voluptatibus consequatur voluptatum cumque. Dolorem, quas dolorum sint sapiente ut laboriosam amet vel fugiat pariatur?